body{
    background-color: white;
}

#header{
    display:flex;
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid black;
}

.row{
    display: flex;
}

.square {
    display: flex;
    background-color: white;
    border: 0.5px solid lightgray;
    box-sizing: border-box;
}